# Hands-On Exercise 8.1: Accessing a Database

## Objective

You will write new data accessor functions to process data stored in a database. To do this, you will

- Create data accessor functions for a database
- Execute SQL statements within the Python code

## Main exercise

#### Creating the relational database data accessor functions

Open the `Ex8_1` project, the `ex8_1.py` file and `ex8_1_describe.py` file.

Review the components of the `ex8_1_describe.py` file:

- Modules are imported  
    – The `sqlite3` module provides the database API
- The `open_connection()` function connects and returns a connection object  
- The `describe_tables()` function displays table information  
    – The table name and its column names are displayed  
    – The `CREATE TABLE` statement used is displayed  
- The main program calls functions from within a `try` to:  
    – Open the connection  
    – Display table names and column names  
    – Close the connection

Execute `ex_8_1_describe.py` to verify the database can be queried.

Make note of the table names.

_The database is available._

Open the `ex8_1.py` file for this exercise. Review the existing statements.

_The required module is imported._

_The `open_connection()` function returns a connection object for the `airline` database._

_The exception handler will:_

- _Call `open_connection()` and assign the connection object_
- _Call the `search_database()` function_
- _Handle some `sqlite3` exceptions_
- _Close the connection_

Modify `search_database()` to:

- Create a cursor object
- Use the cursor to execute the SQL statement `"SELECT * FROM flights"`
- Display the rows from the cursor

_The `flights` table has been queried and displayed._

### Congratulations! You have written new data accessor functions to process data stored in a database.

## Bonus: extend the database handling

#### Creating a custom query

_User input will be accepted to create a customized query._

Extend the previous solution to retrieve only certain flights from the flights table.

The SQL statement `"SELECT * FROM flights"` will be modified.

Modify the `search_database()` function to:

- Query the user for a flight number to search
- Create a parameterized SQL query to retrieve the rows where `flightnum` matches the input value
- Display the matching rows

Test the solution using flight number 1347.

_Hint..._

When executing the parameterized SQL statement, be sure the query parameter is in a sequence. A tuple is recommended.

_There were 7 occurrences of flight 1347._

Execute the previous solution to retrieve only flight number `99999`.

That flight does not exist in the database, the `SELECT` statement returns no rows.

#### Inserting a row

The `new_flight` list has been assigned values that can be added to the `flights` database.

Extend the previous solution to insert a row into the `flights` table.

Create a new function for this work.

Within this new function:

- Create the parameterized SQL statement to `INSERT` the row
- Execute the connection's `commit()` method after the insertion

A new row for flight `99999` has been added.

Extend the previous solution to remove a row from the `flights` table.

Create a new function for this work.

Within this new function:

- Create the parameterized SQL statement to `DELETE` the row inserted in the step above
- Execute the connection's `commit()` method after the deletion

_The database has been queried and updated._

### Congratulations! You have completed the bonus exercise.

## On your own...

### 020/2021 English Premier League table

The SQLite database in `/home/student/course/part_a/Data/football.db` contains all the English Premier League matches from the 2020/2021 season, and their results.

It has a `matches` table with the following columns.

- `id` (`integer`): unique match ID
- `kickoff` (`text`): ISO8601-formatted kickoff time
- `home_team` (`text`): name of home team
- `away_team` (`text`): name of away team
- `home_team_goals` (`integer`): goals scored by the home team
- `away_team_goals` (`integer`): goals scored by the away team

Recreate the [final league table](https://en.wikipedia.org/wiki/2020–21_Premier_League#League_table) points/positions. Each game is scored as follows.

- Winner---3 points
- Draw---each team receives 1 point
- Loser---0 points