# Chapter 3: Collections and Loops

## Lists, Dictionaries, and Tuples

### List Indexing

Lists can be assigned. Contents are accessed with syntax similar to strings.

In [69]:
airports = ["LAX", "HNL", "YYZ", "NRT", "cdg"]
print(airports[1])
# Lists are mutable
airports[4] = airports[4].upper()
print(airports)

HNL
['LAX', 'HNL', 'YYZ', 'NRT', 'CDG']

### List Slicing

Consecutive elements can be referenced as a slice. A slice of a list is itself a list.

In [70]:
airports = ["LAX", "HNL", "YYZ", "NRT", "CDG"]
print(airports[1:2])
print(airports[3:])
print(airports[:])
print(airports[::-1])

['HNL']
['NRT', 'CDG']
['LAX', 'HNL', 'YYZ', 'NRT', 'CDG']
['CDG', 'NRT', 'YYZ', 'HNL', 'LAX']

### List Operators

The `+` operator concatenates lists.

In [71]:
north_airports = ["YYZ", "ARN", "LHS"]
south_airports = ["SYD", "RIO", "CPT"]
print(north_airports + south_airports)

['YYZ', 'ARN', 'LHS', 'SYD', 'RIO', 'CPT']

### List Operations

The `len()` function returns the number of elements in the list.

The `list(arg)` function returns its argument as a list.

In [72]:
airports = ["LAX", "HNL", "YYZ", "NRT", "CDG"]
print(len(airports))

# Assignment creates a shared reference
destinations = airports

if destinations is airports:
    print("Shared Reference")
    destinations[0] = "SFO"
    print("airports changed", airports)

# The list is copied
destinations = list(airports)

if destinations is not airports:
    print("Not Shared Reference")

5
Shared Reference
airports changed ['SFO', 'HNL', 'YYZ', 'NRT', 'CDG']
Not Shared Reference

### List Modifications

Method functions allow in-place modification of list contents.

In [73]:
airports = ["LAX", "HNL", "YYZ", "NRT", "CDG"]
airports[0] = "LGA"
airports[2:3] = ["MSY", "SFO"]
print(airports)
airports.append("JFK")
airports.insert(0, "SYD")
print(airports)
airports.sort()
print(airports)

['LGA', 'HNL', 'MSY', 'SFO', 'NRT', 'CDG']
['SYD', 'LGA', 'HNL', 'MSY', 'SFO', 'NRT', 'CDG', 'JFK']
['CDG', 'HNL', 'JFK', 'LGA', 'MSY', 'NRT', 'SFO', 'SYD']

### Tuple

A tuple is a sequenced, immutable type.

In [74]:
airports = ("LAX", "HNL", "YYZ", "NRT", "CDG")
print(airports[1])
airports[1] = "LNY"

HNL

TypeError: 'tuple' object does not support item assignment

Parentheses are optional on assignment.

A single element tuple requires a comma on assignment.

`()` creates an empty tuple.

In [75]:
planes = "A350", "A380", "B747", "B737"
print(planes)
biggest_plane = ("A380",)
print(biggest_plane)

('A350', 'A380', 'B747', 'B737')
('A380',)

### Tuple Operations

Consecutive elements are accessed with standard slice notation. A slice of a tuple is itself a tuple.

+` and `*` operators concatenate or repeat tuples.

The `tuple()` function returns its argument as a tuple.

In [76]:
airports = ("LAX", "HNL", "YYZ", "NRT", "CDG")
print(airports[1:3])
print(airports[::-1])

north_airports = ["YYZ", "ARN", "LHS"]
south_airports = ["SYD", "RIO", "CPT"]
destinations = tuple(north_airports + south_airports)
print(destinations)

('HNL', 'YYZ')
('CDG', 'NRT', 'YYZ', 'HNL', 'LAX')
('YYZ', 'ARN', 'LHS', 'SYD', 'RIO', 'CPT')

### Collections of Collections

Lists and tuples may contain any type of object---including lists and tuples.

In [77]:
north_airports = ("YYZ", "ARN", "LHS")
south_airports = ("SYD", "RIO", "CPT")

# A list of tuples
destinations = [north_airports, south_airports]
print(destinations)
# Index into the list
print(destinations[0])
# Index into the list and tuple
print(destinations[0][1])
# Index into the list, tuple and string
print(destinations[0][1][2])

destinations.append(("LGA", "JFK"))
print(destinations)

[('YYZ', 'ARN', 'LHS'), ('SYD', 'RIO', 'CPT')]
('YYZ', 'ARN', 'LHS')
ARN
N
[('YYZ', 'ARN', 'LHS'), ('SYD', 'RIO', 'CPT'), ('LGA', 'JFK')]

### Sequence Unpacking

Multiple values from a collection are assigned by position.

Multiple values may be assigned to a wildcard variable.

In [78]:
airports = ("LAX", "HNL", "YYZ", "NRT")
depart, layover1, layover2, arrive = airports
print(layover2)

depart, *layovers, arrive = airports
print(layovers)

depart, *rest = airports
print(rest)

YYZ
['HNL', 'YYZ']
['HNL', 'YYZ', 'NRT']

### Dictionary Operations

Any individual element can be referenced through its key.

Keys are unique, immutable objects.

`del` statement removes a key–value pair from the dictionary.

In [79]:
cities = {"YYZ": "Toronto", "NRT": "Tokyo/Narita"}
print(cities["NRT"])

cities["NRT"] = "Tokyo"
# Create a new key/value pair
cities["HNL"] = "Honolulu"
print(cities)

del cities["YYZ"]
print(cities)

Tokyo/Narita
{'YYZ': 'Toronto', 'NRT': 'Tokyo', 'HNL': 'Honolulu'}
{'NRT': 'Tokyo', 'HNL': 'Honolulu'}

### Dictionary Methods and Functions

Method functions allow data retrieval or modification of contents.

In [80]:
departure_code = input("Enter the departure code: ")
print(cities.get(departure_code.upper(), "Incorrect code"))
arrival_code = input("Enter the arrival code: ")
print(cities[arrival_code.upper()])

Enter the departure code:  lga

Incorrect code

Enter the arrival code:  lga

KeyError: 'LGA'

### View Objects

Provide a _dynamic_ view of the referenced object.

In [81]:
cities = {"YYZ": "Toronto", "NRT": "Tokyo"}
city_keys = cities.keys()
city_values = cities.values()
print(city_keys, city_values, sep="\n")
cities["HNL"] = "Honolulu"
print(city_keys, city_values, sep="\n")
print(cities.items())

dict_keys(['YYZ', 'NRT'])
dict_values(['Toronto', 'Tokyo'])
dict_keys(['YYZ', 'NRT', 'HNL'])
dict_values(['Toronto', 'Tokyo', 'Honolulu'])
dict_items([('YYZ', 'Toronto'), ('NRT', 'Tokyo'), ('HNL', 'Honolulu')])

### Creating a Dictionary

A dictionary can be created from a sequence of key–value pairs.

`name = {}`---Creates an empty dictionary.

In [82]:
airports = {}
print(airports)

# Use a sequence of pairs
airports = dict((("SFO", "San Francisco"), ("LAX", "Los Angeles")))
print(airports)

# Use keyword arguments
airports = dict(SFO="San Francisco", LAX="Los Angeles")
print(airports)

{}
{'SFO': 'San Francisco', 'LAX': 'Los Angeles'}
{'SFO': 'San Francisco', 'LAX': 'Los Angeles'}

### `zip()` Function

Combines two collections in parallel and returns a new iterator.

In [83]:
codes = ["ORD", "MCO"]
cities = ["Chicago", "Orlando"]

# Create dictionaries
by_codes = dict(zip(codes, cities))
by_cities = dict(zip(cities, codes))

print(by_codes)
print(by_cities)

{'ORD': 'Chicago', 'MCO': 'Orlando'}
{'Chicago': 'ORD', 'Orlando': 'MCO'}

### Copying a Dictionary

`dict.copy()`---Returns a shallow copy of the dictionary

In [84]:
cities = {"YYZ": "Toronto", "NRT": "Tokyo"}
# Assignment creates a shared reference
favorite_cities = cities
print(favorite_cities is cities)

favorite_cities = cities.copy()
print(favorite_cities is cities)
# Compare using equality of value
print(favorite_cities == cities)

True
False
True

### Sets

Unsequenced mutable collections of unique, immutable objects.

In [85]:
hawaii_airports = set(["HNL", "ITO", "HNL"])
pacific_airports = {"HNL", "NRT", "SYD", "LAX"}

# A set is a mutable collection
hawaii_airports.add("LNY")
pacific_airports.remove("LAX")

# Duplicates are removed
print(hawaii_airports)
print(pacific_airports)

{'LNY', 'HNL', 'ITO'}
{'NRT', 'HNL', 'SYD'}

Support arithmetic-style operators.

In [86]:
print(hawaii_airports - pacific_airports)
print(pacific_airports - hawaii_airports)
print(hawaii_airports | pacific_airports)
print(hawaii_airports & pacific_airports)
print(hawaii_airports > pacific_airports)

{'LNY', 'ITO'}
{'SYD', 'NRT'}
{'LNY', 'ITO', 'SYD', 'HNL', 'NRT'}
{'HNL'}
False

### Sets Membership Quiz

Given the dictionaries below:
- Create a list of the keys in the codes dictionary that are also keys in the caps dictionary
- Create a list of the keys in the codes dictionary that are not keys in the caps dictionary

Hint 1: Use set operators `&` and `-`.
Hint 2: Shortcut, use set operators directly on the keys.

In [87]:
codes = {"France": 33, "Japan": 81, "Great Britain": 44, "USA": 1}
caps = {"France": "Paris", "Cuba": "Havana", "Japan": "Tokyo"}

### Collection Membership Testing: `in`

`in` is used to test if a value is in a collection. It's more efficient with sets than lists.

In [88]:
print("test" in ("Always", "test", "your", "data"))
print("test" in {"Always", "test", "your", "coding"})

facts = {"test": "Good idea", "no test": "Bad idea"}
# Looping over facts is the same as looping over facts.keys()
print("test" in facts)
print("test" in facts.values())

True
True
True
False

## `for` Loops and Iterables

### The `for` Loop

Steps through an iterable object.

In [89]:
prices = [200, 400, 500]
fee = 20
totals = []

for price in prices:
    totals.append(price - fee)

print(totals)

[180, 380, 480]

### Loop Through a Dictionary

Dictionary methods `keys()`, `values()`, and `items()` can provide an iterable object.

In [90]:
airports = {"YYZ": "Toronto", "NRT": "Tokyo"}

for code in airports.keys():
    print(code)

for code in airports:
    print(code)

for value in airports.values():
    print(value)

for key, value in airports.items():
    print(key, value)

YYZ
NRT
YYZ
NRT
Toronto
Tokyo
YYZ Toronto
NRT Tokyo

### Nested Looping

In [91]:
prices = [200, 400, 500]
fees = [20, 50]
totals = []

for fee in fees:
    for price in prices:
        totals.append(price - fee)

print(totals)

[180, 380, 480, 150, 350, 450]

### Membership Quiz With a Loop

Create a list of keys from `codes` that are also keys in `capitals`.

In [92]:
codes = {"France": 33, "Japan": 81, "Great Britain": 44, "USA": 1}
capitals = {"France": "Paris", "Cuba": "Havana", "Japan": "Tokyo"}

countries = []
for code in codes:
    if code in capitals:
        countries.append(code)

print(countries)

['France', 'Japan']

### Using `break`, `continue`, and `else` in a Loop

In [93]:
airports = ["LAX", "HNL", "YYZ"]

for airport in airports:
    # Terminate when airport is NHL
    if airport == "HNL":
        break
    print("with break", airport)
else:
    print("The end", airport)

for airport in airports:
    # Skip when airport is NHL
    if airport == "HNL":
        continue
    print("with continue", airport)

with break LAX
with continue LAX
with continue YYZ

### The `range` class

In [94]:
type(range)

type

Defines an iterable object that provides a sequence of integers.

Syntax: range(_start_, _end_, _step_)

In [95]:
for index in range(3):
    print(index)

print("")
    
for index in range(5, 2, -1):
    print(index)

0
1
2

5
4
3

### List Comprehension

Process parts of a sequence and return a list of results

Syntax: [_operation_ for _var_ in _iterable_]

In [96]:
prices = [200, 400, 500]
fee = 20

# A list comprehension creates a list
totals = [price - fee for price in prices]
print(totals[0])

for total in totals:
    print(total)

fees = [20, 50]
# A nested comprehension
print([price - fee for fee in fees for price in prices])

180
180
380
480
[180, 380, 480, 150, 350, 450]

### List Comprehension With Conditional

The operation may be executed conditionally with an embedded `if`.

Syntax: [_operation_ for _var_ in _iterable_ if _condition_]

In [97]:
prices = [200, 400, 500]
fee = 30
minimum = 200
print([price - fee for price in prices if price > minimum])

codes = {"France": 33, "Japan": 81, "Great Britain": 44, "USA": 1}
capitals = {"France": "Paris", "Cuba": "Havana", "Japan": "Tokyo"}

# Find list of keys from codes that are also keys in capitals
print([code for code in codes if code in capitals])

[370, 470]
['France', 'Japan']

## Additional Comprehensions

Set comprehensions.

Syntax: {_operation_ for _var_ in _set_ if _condition_}

In [98]:
airports = {"LAX", "HNL", "YYZ"}
# Create a set
hawaii_airports = {airport for airport in airports if airport in ["HNL", "ITO"]}
print(hawaii_airports)

{'HNL'}

Dictionary comprehensions.

Syntax: {_key_: _value_ for _key_, _value_ in _sequence_ if _condition_}

In [99]:
airports = {"LAX": "Los Angeles", "HNL": "Honolulu", "YYZ": "Toronto"}
# Create a dictionary
hawaii_airports = {code: city for code, city in airports.items() if code in ["HNL", "ITO"]}
print(hawaii_airports)

{'HNL': 'Honolulu'}

### Generator Expression

Creates an iterator that supports the `next()` method

Syntax: (_operation_ for _var_ in _iterable_)

In [100]:
prices = [200, 400, 500]
fee = 20

# Create a generator object
totals = (price - fee for price in prices)
print(next(totals))
print("start loop")

for total in totals:
    print(total)

180
start loop
380
480

## `while` Loops

### `while` Loop Example

In [103]:
creator = "Guido"

# Assign input to guess and compare guess to creator
while (guess := input("Who is the creator of Python? ")) != creator:
    print("Sorry but", guess, "is not correct.  Try again")
else:
    # This executes at the termination of the loop
    print("Right, it is", creator)

Who is the creator of Python?  Guido

Right, it is Guido