![logo](images/bae_logo.png)

# Chapter 8: Accessing Relational Databases

## Using SQL

### Example SQL Query

In [ ]:
import sqlite3

connection = sqlite3.connect(r"../data/airline.db")
cursor = connection.cursor()
for line in cursor.execute("SELECT * FROM aircraft"):
    print(line)
connection.close()

### Passing Arguments to SQL Statements

SQLite uses `?` as a positional parameter placeholder.

In [ ]:
connection = sqlite3.connect(r"../data/airline.db")
cursor = connection.cursor()

craft_number = (2,)
airport = ("HNL",)

aircraft = [
    record
    for record in cursor.execute(
        "SELECT * FROM aircraft WHERE aircraftcode = ?", craft_number
    )
]
airports = [
    record
    for record in cursor.execute("SELECT * FROM airports WHERE citycode = ?", airport)
]

connection.close()

print(aircraft)
print(airports)

## Inserting a Row

Use the SQL `INSERT INTO <table> VALUES (...)` statement.

Remember to `commit()` changes.

In [ ]:
connection = sqlite3.connect(r"../data/airline.db")
cursor = connection.cursor()

new_plane1 = (5, "Blimp")
new_plane2 = (6, "Helicopter")

cursor.execute("INSERT INTO aircraft VALUES (?, ?)", new_plane1)
cursor.execute("INSERT INTO aircraft VALUES (?, ?)", new_plane2)

connection.commit()

connection.close()

### Updating Data

Use the SQL `UPDATE <table> SET ... WHERE ...` statement.

In [ ]:
connection = sqlite3.connect(r"../data/airline.db")
cursor = connection.cursor()

update_plane1 = (7, "Blimp")
update_plane2 = ("Bell430", 6)

cursor.execute("UPDATE aircraft SET aircraftcode = ? WHERE name = ?", update_plane1)

cursor.execute("UPDATE aircraft SET name = ? WHERE aircraftcode = ?", update_plane2)

connection.commit()

connection.close()

### Automatically Closing Connections

`with sqlite3.connect(database_name) as connection:` does not close the connection.

Use the `closing` context manager from the `contextlib` module

In [ ]:
import sqlite3
import contextlib

DATABASE = r"../data/airline.db"


def execute_statement(statement):
    with contextlib.closing(sqlite3.connect(DATABASE)) as connection:
        with connection:
            with contextlib.closing(connection.cursor()) as cursor:
                cursor.execute(statement)
                # The cursor will be closed at this point
            # Any transactions will be automatically committed at this point
        # The connection will be closed at this point


execute_statement("INSERT INTO aircraft VALUES (999, 'Concorde')")