![logo](images/bae_logo.png)

# Chapter 2: Variables and Conditionals

## Objects and Variables

### Python Objects

Everything is an object with a location in memory (`id`) and a `type`.

In [ ]:
id(365)

In [ ]:
type(365)

In [ ]:
type("Hello")

### Variables

Variables are implicitly typed.

In [ ]:
i = 100
pi = 3.1415
s = "Hello"
choice = True
pi = 22 / 7
lottery_win = 1_000_000
red = 0xFF0000
mask = 0b1000
c = 2 + 3j

print(pi)
print(lottery_win)
print(mask)
print(type(c))

### Numeric Operators

Unsuprisingly, Python supports the usual numeric operators.

In [ ]:
2 ** 8

In [ ]:
print(5 / 3)
print(5 // 3)
print(5 % 3)

In [ ]:
print(0b1000 << 1)
print(0xF ^ 8)

In [ ]:
print(1 < 2)

In [ ]:
cumulative_primes = 2
cumulative_primes += 3
cumulative_primes += 5
print(cumulative_primes)

### Calculations Involving Floats and Ints

Operations on objects of the same type yield results of the same type---except division, which yields a floating-point result.

Results of operations on numbers of mixed types are converted to the more inclusive type.

In [ ]:
print(type(5 + 3))
print(type(5.0 + 3.0))
print(type(5 + 3.0))
print(type(5 / 3))
print(type(5 // 3))

### Casting Numbers

The `float()` and `int()` functions return the argument in the specified type.

- Argument may be the string representation of a numeric value
- Argument may be an arithmetic expression

In [ ]:
number = "4.9"
print(float(number))
print(type(float(number)))
print(type(number))

In [ ]:
x = int(float(number))
print(x)

In [ ]:
int(number)

## The `math` Module

Standard library module that provides additional basic mathematical objects.

In [ ]:
import math

print(math.sqrt(16))
print(math.factorial(6))
print(math.radians(180 / math.pi))

### `print` function

`print(*objects, sep=" ", end="\n", file=sys.stdout, flush=False)`

In [ ]:
name = "Ian"
age = 34
print(name, age, sep="-->")
print(name, age, sep="")

## Strings

### String Objects

String values are defined between a pair of quotation marks.

- Single and double quotes are equivalent
- Triple quotes of either type are allowed

In [ ]:
name = 'Guido'
question = "Don't you love Python?"
question = '''Guido asked, "Don't you love Python?"'''

print(question)

### Substrings

Individual characters are referenced by offset.

A slice is a portion of a sequence.

In [ ]:
sea = "Atlantic Ocean"
print(sea[0])
print(sea[0:8])
print(sea[:8])
print(sea[9:])

### String Slicing

Use a negative offset to refer to the _end_ of the string.

In [ ]:
print(sea[-1])
print(sea[-5:])
print(sea[-1:-5])

### Striding Strings

A step or stride may access nonsequential values using `[start:end:step]`.

In [ ]:
print(sea[1:12:2])
print(sea[-1:-6:-1])
print(sea[:])
print(sea[::-1])

In [ ]:
sea[9] = 'o'

### String Concatenation

Strings separated by white space are concatenated into a single string.

Operators create and return new string objects.

- `+` concatenation
- `*` repetition

The str() constructor returns its argument as a string object.

In [ ]:
print("Guido " "van Rossum")

first_name = "Guido "
last_name = "van Rossum"
print(first_name + last_name)

count = 1.9
count_text = str(count)
print(type(count_text), first_name + count_text)

print("*" * 10)

### String Methods

Functions that operate on string objects.

- Syntax: `string.method()`
- `string.upper()` and `string.lower()` return a new string
- `string.isupper()` and `string.islower()` return a Boolean

In [ ]:
sea = "Atlantic Ocean"
print(sea.lower())

sea = sea.upper()
print(sea)
print(sea.isupper())

### Searching Strings

`string.find()` returns the offset of the search string (`-1` if the string is not found).

In [ ]:
sea = "Atlantic Ocean"
location = sea.find("an")
print(location, sea[:location], sea[location:])

### String Splitting and Joining

`string.split(sep)` returns a list of strings.

In [ ]:
sea = "Atlantic            Ocean"
words = sea.split()
print(words)

`string.join()` returns a delimited string from a sequence.

In [ ]:
csv_words = ",".join(words)
print(csv_words)

### String Formatting

"f strings" support string interpolation.

In [ ]:
price = 350
tax = 0.07

output = f"£{price} £{tax} cost = £{price + price * tax:7.2f}"

print(output)

### Special Strings

String objects may contain escape sequences.

In [ ]:
print("\t is tab")
print("I \U00002764 \U0001F984")

Raw strings ignore the special meaning of the backslash (`\`).

In [ ]:
print(r"\t is tab")

### Keyboard Input

The `input("prompt")` function returns one line from standard input.

In [ ]:
years = input("Enter your age in years --> ")
age_days = 365.25 * float(years)
print(f"Your age in days is {age_days:6.0f}")

## Conditionals

### Simple Comparisons

Yield a Boolean `True` or `False` value.

In [ ]:
sea = "Atlantic"
ocean = sea
print(ocean == sea)
print(ocean is sea)
print(4 == 4.0)

x = 4
y = 4.0
print(x is y)

### Compound Comparisons

Several simple conditions joined by Boolean operators.

- `and` yields True if both operands are `True`
- `or` yields True if either is `True`
- `not` reverses the Boolean value

In [ ]:
first = 1
second = 2
third = 3

print(first < second and second == third)
print(first < second or second == third)
print(second is third)
print(second is not third)
print(first < second < third)

### Testing Alternatives

Convert the input to lower case for each comparison.

In [ ]:
sea = input("Enter the sea name: ")

if sea.lower() == "atlantic":
    print(sea, "is deep")
elif sea.lower() == "pacific":
    print(sea, "is big")
elif sea.lower() == "baltic":
    print(sea, "is cold")
else:
    print(sea, "is not big or cold")

### Assignment Expressions

The `:=` operator assigns values as part of a larger expression.

- Not a replacement for assignment statement
- Values are available in the expression

In [ ]:
sea = input("Enter the sea name: ")

if (name := sea.lower()) == "atlantic":
    print(sea, "is deep")
elif name == "pacific":
    print(sea, "is big")
elif name == "baltic":
    print(sea, "is cold")
else:
    print(sea, "is not big or cold")

### The `pass` Statement

Explicitly does nothing (null statement). Serves as a placeholder where a statement is required.

In [ ]:
sea = input("Enter the sea name: ")

if (name := sea.lower()) == "atlantic":
    print(sea, "is cold")
elif name == "pacific":
    pass
elif name == "baltic":
    print(sea, "is cold")
else:
    print(sea, "is not big or cold")

### Explicit Line Continuation

A line ending in a backslash is joined with the following line, forming a single logical line.

In [ ]:
if sea == "Atlantic" or \
    sea == "Pacific" or \
    sea == "Indian":
    print(sea, "is a well known sea")
else:
    print("Unknown sea")

### Implicit Line Continuation

Expressions in parentheses, square brackets, or curly braces can be split over more than one physical line without using backslashes.

In [ ]:
if (
    sea == "Atlantic"
    or sea == "Pacific"
    or sea == "Indian"
    or sea == "Red"
    or sea == "Black"
):
    print(sea, "is a well known sea")
else:
    print("Unknown sea")

### The `match` Pattern Types

- Literal Patterns
- OR Patterns
- Capture Patterns

In [ ]:
# This sample requires Python 3.10+

water = input("Enter the body of water ")

match water.lower():
    case "atlantic":
        print(water, "Exact match")
    case "pacific" | "indian":
        print(water, "Loose match")
    case other:
        print(other, "not a match")

### `match` Example

Patterns can also be collection types, like lists.

In [ ]:
# This sample requires Python 3.10+

water = input("Enter the body of water ")
water = water.lower()

match name := water.split():
    case [ocean_name, "ocean"] | [ocean_name, "sea"]:
        print(ocean_name, "is large")
    case ["gulf", "of", gulf_name]:
        print(gulf_name, "is warm")
    case ["lake", lake_name]:
        print(lake_name, "is fresh water")
    case [river_name, "river"]:
        print(river_name, "flows downhill")
    case _:
        print(" ".join(name), "is unknown")